// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.teams p {
  margin: 0;
}

.lawn {
  background: repeating-linear-gradient(
  45deg,
  green,
  green 300px,
  forestgreen 300px,
  forestgreen 600px
  );
}

.list-group-item {
  background-color: rgba(27, 27, 27, 0.5);
}

.dealer-status {
  color: rgba(241, 241, 241, 0.6);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: rgba(241, 241, 241, 0.85);
  margin-bottom: 60px; /* Margin bottom by footer height */
}


.card-header {
  background-color: rgba(27, 27, 27, 0.51);
}

.card {
  background-color: rgba(27, 27, 27, 0.5);
  border: none;
}

.top-flight {
  background-color: #ed000088
}

.mid-tier {
  background-color: #1414e044
}

.lower-league {
  background-color: #37ed0088
}

.key-top {
  color: #ed000088
}

.key-mid {
  color: #1414e044
}

.key-lower {
  color: #37ed0088
}

.card-team {
  background-color: #00000000
}

.card-body-team {
  max-height: 20px;
  background-color: #f1f1f1dd;
  color: rgb(27, 27, 27);
  padding: 0;
}


#chat-message {
  background: rgba(27, 27, 27, 0.5);
  color: rgba(241, 241, 241, 0.9);
  border: none;
}

.text-responsive {
  font-size: calc(80% + 1vw + 1vh);
}

tr {
   line-height: 18x;
   min-height: 18px;
   height: 18px;
}

th {
  color: rgb(241, 241, 241);
  font-size: 11.5px;
}

.table thead th {
  border-bottom: none;
}

.gate {
  color: rgb(241, 241, 241);
}

.clickball {
  cursor: pointer;
}






